/* // $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below... */



.logo {
	background: url('../img/nolan-logo.png') no-repeat;
	background-size: cover;
	width: 467px;
	height: 77px;
	margin-top: 33px;
	margin-bottom: 33px;
}

.logo h1{
	position: absolute;
	top: -9999em;
	left: -9999em;
}
